.main-container {
  padding: 10px;
}

.main-shop-info {
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
}

.main-event-info {
  font-size: 0.7rem;
  position: relative;
  display: flex;
  justify-content: center;
}

.main-event-info ul {
  padding-left: 20px;
}